:root {
  --font-main: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Symbols";

  /* COLORS */
  --headline-color: oklab(0.999994 0.0000455678 0.0000200868);
  --form-background: oklab(0.35016 0.00197881 -0.0119994);
  --normal-text-color: oklab(0.906424 -0.000235766 -0.0028885);
  --input-bg: oklab(0 0 0 / 0.2);
  --input-color: oklab(0.906424 -0.000235766 -0.0028885);
  --label-color: oklab(0.999994 0.0000455678 0.0000200868);
  --required-color: oklab(0.772044 0.119344 0.0515409);
  --btn-bg: rgb(88, 101, 242);
  --btn-bg-hover: rgb(71, 82, 196);
  --wandering-cubes-color: rgb(121, 131, 245);
  --link-color: oklab(0.747617 0.00671133 -0.126112);

  --need-account: oklab(0.751834 0.00131807 -0.008479);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/ggsans/ggsans-normal.woff2) format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/ggsans/ggsans-medium.woff2) format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/ggsans/ggsans-semibold.woff2) format("woff2");
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/ggsans/ggsans-bold.woff2) format("woff2");
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  pointer-events: none !important;
  display: none !important;
}
